.react-pdf__Page {
	margin-top: 10px;
  }
  .react-pdf__Page__textContent {
	text-align: center;
  }
  
  .react-pdf__Page__annotations.annotationLayer {
	display: none;
  }
  
  .react-pdf__Page__canvas {
	margin: 0 auto;
  width: 99% !important;
  height: 100% !important;
  border: 1px solid black;
  }
  
  /* For all pages */
  .all-page-container {
	height: 100%;
	max-height: 500px;
	overflow: auto;
  }
