@import "../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*{
	box-sizing: border-box;
}

body{
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
	
}



/* #1976d2; */